 *{margin: 0; padding: 0}
section{ align-items: center; font-family: Courier New, Courier, monospace}
li{ background: #CACACA;border: 2px solid white;border-radius: 6px;    margin: 9px 0;padding: .5em 3em;list-style: none;color: white;cursor:move;  box-shadow: 0 5px 4px rgba(128, 128, 128, 0.29);}
li,ul{list-style: none}
@keyframes animeDrag {0%{ background:#2cd679;}100%{background-color: #CACACA}}
@keyframes animeDrop {0%{  background: rgb(230, 62, 64);}100%{background-color: #CACACA}}
li.dragstart{    background: rgb(125, 193, 255); }
li.dragmove{animation:animeDrop 1s ease-in 1 }
li.dragend{animation:animeDrag 2s ease-in 1}
li.dragover{border:2px dashed #fff;opacity: .4;}
#dropzone{border: 1px dashed darkgrey;border-radius: 3px;max-width: 300px;padding: 1em;margin: 50px auto;width: calc(100% - 2em);transition: all .3s;  
}